# OS
.DS_Store
Thumbs.db

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# Global Node dependencies (frontend)
node_modules/
build/
frontend/node_modules/
frontend/dist/

# Global Python dependencies (backend)
__pycache__/
*.py[cod]
venv/
backend/.venv/
env/
env3.6/
env3.7/

# Environment variables
.env
.env.production
.env.development
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
backend/.env

# Logs and Debugging files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml
db_docker/
minio/

# Archives
archive/

# Sonarqube & Terraform
.sonarqube/*
.scannerwork
.ruff_cache
sonarqube/
sonarqube/extensions
sonarqube/data
sonarqube/logs
.terraform/
