# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc
*.pyo
*.pyd
*.whl
*.egg-info/
.installed.cfg

# Logs and Debugging files
*.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/
.tox/
.nox/

# Environments
.env

# Django/Flask/Scrapy specific
local_settings.py
instance/
.scrapy
db.sqlite3
db.sqlite3-journal
.webassets-cache

# Build artifacts
dist/
build/
docs/_build/
target/

# Jupyter
.ipynb_checkpoints

# Linter and type checker caches
.mypy_cache/
.dmypy.json
.pyre/
.ruff_cache

# Docker volumes
db_docker/
minio/

# Sonarqube
.sonarqube/
.scannerwork
