{
  email custom@domain.com
}

# Backend API reverse proxy with path-based routing
localhost:80 {
  handle_path /fastapi/* {
    reverse_proxy fastapi_server:8000
  }

  handle_path /* {
    reverse_proxy frontend:5173
  }
}
